<header>
  <img
    src="assets/img/victor.png"
    alt="Dener Troquatte - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Victor Guilherme</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack   Angular | NodeJs | Javascript | Java | Cobol</p>
    <p>Taboão da Serra, São Paulo, Brasil</p>
    <p>
      Com experiência em desenvolvimento de software, trabalhei com Angular, Java e COBOL em projetos no Banco Itaú, IBM e Banco do Brasil. Busco sempre melhorar a satisfação do cliente final.

Destaque para o aprimoramento do portal de Câmbio e o desenvolvimento de um sistema de caixa eletrônico para pagamentos em dólar no projeto de Turismo do Banco Itaú.

Atualmente, participo da migração de um portal do Banco do Brasil para novas tecnologias, usando Angular e Java.

Experiência com metodologias ágeis (Scrum e Kanban) e sempre em busca de aprender para, no futuro, liderar e compartilhar conhecimentos com meu time.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/victor-guilherme-4b6592137/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511930832811&text=Ol%C3%A1%20Victor,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (11) 9 3083-2811</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:vhag.aug@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>vhag.aug&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
